<!--base.html-->
{% load static %}
{% load custom_markdown %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Café de Lyon</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}">

</head>

<body>
<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-5">
        <div class="header">
            <h1><a href="{% url "home" %}">Café de Lyon</a></h1>
            <h2 class="brand-tagline">WhatEver</h2>
            <nav class="nav">
                <ul>
                    <li class="nav-item">
                        <form class="pure-form" action="{% url 'search_blog' %}" method="get">
                            <input class="pure-input-3-3" type="text" name="key" placeholder="搜索文章标题">
                        </form>
                    </li>
                </ul>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="button-success pure-button" href="/">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "archives" %}">归档</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "total_category" %}">目录</a>
                    </li>
                    <li class="nav-item">
                        <a class="button-success pure-button" href="{% url "total_tags" %}">标签</a>
                    </li>
                </ul>
                {#                <ul>#}
                {#                    <li class="nav-item">#}
                {#                        <a class="button-success pure-button" href="{% url 'RSS' %}">RSS</a>#}
                {#                    </li>#}
                {#                </ul>#}
            </nav>
        </div>
    </div>


    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            {% block content %}
            {% endblock %}
            <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="https://coding.net/u/illion">Coding.Net</a></li>
                        <li><a href="{% url 'about_me' %}">About Me</a></li>
                        <li><a href="https://github.com/lozybean">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>